name: Build Player App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install flet
          pip install -r requirements.txt

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Flet Build APK
        # AQUÍ ESTÁ EL CAMBIO IMPORTANTE:
        # Le damos un nombre y organización únicos para que no choque con la otra app.
        run: |
          flet build apk --project-name "DnDPlayerApp" --org "com.rol" --product-name "Hoja PJ" --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: dnd_player_apk
          path: build/apk/app-release.apk
